.form-section {
    height: 85px;
    width: 400px;
}
.form-section-double {
    height: 85px;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
}
.form-sub-section-three {
    height: 97px;
    width: 260px;
  }

  .form-sub-section-two {
    height: 97px;
    width: 384px;
  }

  .form-sub-section-four {
    height: 97px;
    width: 132px;
  }

  .form-section-main {
    height: 85px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
}